---
---

<div class="giscus-wrapper">
  <h3>Comments</h3>
  <script 
    is:inline
    src="https://giscus.app/client.js"
    data-repo="craftyprash/craftyprash.github.io"
    data-repo-id="R_kgDORboYdQ"
    data-category="General"
    data-category-id="DIC_kwDORboYdc4C3dO3"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="dark"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</div>

<style>
  .giscus-wrapper {
    margin-top: 3rem;
  }

  .giscus-wrapper h3 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
</style>
